main{
    background-color: var(--base-gray200);

& div#tabela{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;    
    justify-content: space-evenly;
    padding-inline: 48px;
    gap: 24px;
}
}

div.project-card {
    border-radius: 8px;
    background-color: var(--base-gray300);
}

a>img{
    border-radius: 8px;
    justify-self: center;
    margin: 12px;

}
