a#button{
    background-color: var(--base-gray300);
    border-radius: 8px;
    color: white;
margin: auto;

width: 400px;
height: 68px;
    padding: 16px 32px;
    font: var(--text-md);
    text-align: center;

    text-decoration: none;

    display: block;
    gap: 8px;

    cursor: pointer;

    justify-content: space-between;
}

section > div#services-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}

img.serv{
    justify-content: flex-start;
}

section#services{
    background-color: var(--base-gray100);
    justify-content: center;
    align-items: center;
}

div.service-card{

    border: var(--base-gray500);
    width: 280px;
    height: 155px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;

    border: solid 1px white;
}

section#contact{
    background-image: url(../assets/Background_Contacts.png);
    display: block;
    justify-content: center;
    align-items: center;
}

